.page {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: var(--font-geist-sans);
}

.header {
  background: #222;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 64px 64px 96px 64px;
  clip-path: polygon(0px 0%, 100% 0%, 100% calc(100% - 55.625px), 0% calc(100% - 19.78px));

  @media (max-width: 628px) {
    padding: 24px 24px 96px 24px;
  }
}

.title {
  font-size: calc(min(64px, 14vw));
  text-align: center;
  font-family: var(--font-germania-one);
  text-shadow: 3px 3px #c518de;
}

.main,
.footer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  padding: 32px;
  gap: 32px;

  @media (max-width: 628px) {
    padding: 24px;
  }
}
