.page {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: var(--font-geist-sans);
}

.header {
  --header-background: #aaa;
  background: var(--header-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 64px;
}

@media (prefers-color-scheme: dark) {
  .header {
    --header-background: #133;
  }
}

.title {
  font-size: 64px;
  text-align: center;
  font-family: var(--font-germania-one);
}

.main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  padding: 32px;
  gap: 32px;
}
