.page {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: var(--font-geist-sans);
}

.header {
  background: #222;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;

  @media (max-width: 628px) {
    padding: 24px;
  }
}

.logo {
  aspect-ratio: 3;
  background-image: url("/logo.png");
  width: 100%;
  max-width: 400px;
  background-size: 130%;
  background-position: center;
}

.main,
.footer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  padding: 32px;
  gap: 32px;

  @media (max-width: 628px) {
    padding: 24px;
  }
}
