.videoResult {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (max-width: 628px) {
    gap: 32px;
  }
}

.videoResultTitle {
  display: inline;

  &:before {
    content: "✹";
    margin-right: 0.5em;
    color: #a51681;
  }
}
